.canban {
  background-color: white;
  padding: 30px;
  &__header {
    .header-title {
      font-size: 32px;
      font-weight: 500;
    }
    .header-description {
      font-size: 20px;
      font-weight: 400;
      color: rgb(122, 122, 122);
    }
  }
  &__chart {
    margin-top: 60px;
    .titlebox {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .chart-title {
        font-size: 21px;
        font-weight: 700;
      }
    }
  }
}
